@keyframes heartbeat {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heartbeat {
    animation: heartbeat 1000ms infinite;
  }
  .opacity05 {
    opacity: 0.5;
  }
  .opacity06 {
    opacity: 0.6;
  }
  .opacity07 {
    opacity: 0.7;
  }
  .opacity08 {
    opacity: 0.8;
  }
  .opacity09 {
    opacity: 0.9;
  }
  .contrast90 {
    filter: contrast(90%);
  }
  .md-header {
    background: #1d3158;
  }
  .md-tabs {
    background: #1d3158    ;
  }
  .md-footer {
    background: #1d3158;
  }
  a.md-button.md-button--primary {
    background-color: #3A6073;
  }
  [data-md-color-scheme="slate"] {
    --md-footer-bg-color: #1d3158;
    --md-footer-bg-color--dark: #1d3158;
    --md-primary-fg-color--dark: #1d3158;
    --md-primary-fg-color--light: #1d3158;
    --md-primary-fg-color: #1d3158;
  }
  [data-md-color-scheme="default"] {
    --md-footer-bg-color: #1d3158;
    --md-footer-bg-color--dark: #1d3158;
    --md-primary-fg-color--dark: #1d3158;
    --md-primary-fg-color--light: #1d3158;
    --md-primary-fg-color: #1d3158;
  }
